<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">
	<!-- select 태그 3개 속성 : id, resultType, parameterType
	id: 사용할 명칭(필수), 현재 mapper에서 유일한 이름 사용 (namespace 다르면 같은 이름 가능)
	resultType: 조회 결과 값을 저장하기 위한 데이터 타입(형태)
		(데이터 하나에 대한 타입	 지정)
	parameterType: 전달 받은 파라미터 데이터 타입 지정(선택적)
	
	 -->
	<select id="list" parameterType="string" resultType="com.bc.mybatis.ShopVO">
		SELECT num, category, p_num, p_name, p_company
     			, p_price, p_saleprice, p_image_s, p_image_l
     			, p_content, p_date
     	FROM SHOP_T
     	WHERE category = #{category}
	</select>
	
	<select id="one" parameterType="string" resultType="ShopVO">
		SELECT num, category, p_num, p_name, p_company
     			, p_price, p_saleprice, p_image_s, p_image_l
     			, p_content, p_date
     	FROM SHOP_T
     	WHERE p_num = #{p_num}
	</select>
</mapper>